<!DOCTYPE html>
<html>
<head>
    <title>編輯留言</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>編輯留言</h1>

    <form action="{{url_for('edit', id=id)}}" method="POST">

        <label>姓名：</label>
        <input type="text" name="username" value="{{ message.username }}">

        <br><br>

        <label>留言：</label>
        <textarea name="message">{{message.message}}</textarea>

        <br><br>

        <button type="submit">儲存修改</button>

    </form>

    <br>

    <a href="{{ url_for('home') }}">返回首頁</a>

</body>
</html>